node_modules
dist
.next
.turbo
.env
.env.local
.env*.local
*.tsbuildinfo
.vercel

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# SQLite databases (created by setup-sqlite.sh)
*.db
*.db-shm
*.db-wal

# Test coverage
coverage/

# Editor
.idea/
.vscode/settings.json
